@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background-color: #4c1a89;
  color: white;
  padding: 20x;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Lato", Times, serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  font-size: 18px;
  margin: 0 auto;
}

h1::after {
  content: "";
  display: block;
  width: 115px;
  height: 3px;
  background: white;
  margin: 6px auto 10px auto;
}

li {
  display: inline-block;
  margin: 20px;
}

header ul li a {
  text-decoration: none;
  color: #ffffff;
}

header ul li a:hover {
  color: #fff063;
}

#subscribe-btn {
  border: 2px solid #fff063;
  padding: 8px;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  font-weight: 600;
  color: #fff063;
}

#subscribe-btn:hover {
  border: 2px solid #121619;
  background-color: #121619;
  color: #fff063;
}

#subtitle {
  font-weight: 800;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 45px;
  justify-content: space-between;
  animation-duration: 1.5s;
  animation-name: slidein;
}

h2 {
  font-size: 40px;
  line-height: 5px;
}

#h2 {
  color: #fff063;
}

main p {
  width: 90%;
  max-width: 500px;
}

aside form {
  display: flex;
  flex-direction: column;
  max-width: 70%;
}

input[type="text"] {
  margin-bottom: 3px;
  border-radius: 12px;
  border: none;
  padding: 12px;
  font-size: 12px;
  font-style: italic;
}

input[type="email"] {
  margin-top: 3px;
  border-radius: 12px;
  border: none;
  padding: 12px;
  font-size: 12px;
  font-style: italic;
}

input[type="submit"] {
  margin-top: 10px;
  padding: 15px;
  max-width: 40%;
  background: #fff063;
  color: #121619;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 17px;
  transition: 0.2s ease-in-out;
}

input[type="submit"]:hover {
  border: none;
  background: white;
  color: #121619;
}

img {
  width: 600px;
  margin-top: 20px;
}

@keyframes slidein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
